@font-face {
    font-family: "icons";
    src: url("./icons.eot?1927b0a5996f664bac835b29a4790688#iefix") format("embedded-opentype"),
url("./icons.woff2?1927b0a5996f664bac835b29a4790688") format("woff2"),
url("./icons.woff?1927b0a5996f664bac835b29a4790688") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-docker:before {
    content: "\f101";
}
.icon-graphql:before {
    content: "\f102";
}
.icon-kubernetes:before {
    content: "\f103";
}
.icon-programming-languages-c-sharp:before {
    content: "\f104";
}
.icon-programming-languages-html:before {
    content: "\f105";
}
.icon-programming-languages-javascript:before {
    content: "\f106";
}
.icon-typescript:before {
    content: "\f107";
}
